# App manifest

## Purpose of App

- To help students with exam preperation

## Features

- Generate questions based on topic and grade
- Generate answers based on question and grade

## Tech Stack

- Flutter web-app (UI)
- Cloud Functions for Firebase (Backend)
- Firestore (Database)
- Firebase Storage (Image store)
- Firebase Hosting (Website deployment)
- Firebase Auth (Google sign-in)

## Guidelines

- AI & embedding APIs should be called from inside Firebase functions and not from the flutter UI code. 
- LLM text generation API calls should include response JSON schema. 
- Use typescript for node functions.
- Use Vertex AI with Firebase, instead of Google AI.
- Always check if any imports are missing for new code after making changes

## Code Organization

### Key Directories

- Flutter services layer for Firebase interactions (`lib/services/`)
- Flutter reusable UI components (`lib/widgets/`)
- Flutter integration tests in (`lib/testing/integration/`)

### Firebase Configuration Files

- Firebase project configuration (`firebase.json`)
- Data security rules (`firestore.rules`)
- File storage rules (`storage.rules`)
- CORS settings (`cors.json`)
- Firebase IDs/keys (`lib/firebase_options.dart`)

### Key Flutter Dependencies

- cloud_firestore- Firestore integration
- cloud_functions- Firebase Functions integration
- firebase_auth- Authentication
- go_router- Navigation
- flutter_markdown- Content rendering
