rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /requests/{requestId} {
      allow read: if true; // request.auth != null;
      allow create: if true; // request.auth != null;
      allow update: if false;
      allow delete: if false;
    }
    match /questions/{questionId} {
      allow read: if true;
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }

    // Default deny all
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
